annotated-types==0.7.0
attrs==24.2.0
dash==2.18.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
matplotlib==3.7.0
networkx==3.3
nltk==3.6.7
numba==0.60.0
numpy==1.26.4
pandas==2.2.2
gunicorn

